.nav{
    background-color: #2c3e50;
    height: 100px;
} 

.row{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.purple{
    color: rgb(233, 7, 233);
    background-color: rgb(233, 7, 233);
}

.pink{
    background-color: pink;
}

.green{
    background-color: greenyellow;
}

.aqua{
    background-color: aqua;
}

.black{
    background-color: black;
}

.jumbo{
    background-color: #1abc9c;
    height: 500px;
    display: flex;
    align-items: center;
}

.height-inside-jumbo{
    height: 350px;
}

.height-text-main{
    height: 80px;
}

.height-card-main{
    height: 250px;
}

.height-img-card{
    height: 220px;
}

.img{
    padding-top: 1rem;
}

.main-main{
    height: 650px;
    background-color: #1abc9c;
    display: flex;

}

.height-text-main{
    height: 200px;
}

.footer-main{
    display: flex;
    justify-content: center;
}

.height-form-footer-main{
    height: 700px;
}

.header-footer{
    background-color: #3a546d;
    display: flex;
    justify-content: center;
}

.height-header-footer{
    height: 150px;
    margin-bottom: 1rem;

}

.padd-top{
    padding-top: 1rem;
}

.footer-footer{
    background-color: #2c3e50;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.height-text-footer-footer{
    height: 30px;
}