.my_bg_nav{
    background-color: #2c3e50;
} 

.my_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.my_container_nav{
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.white-color{
    color: white;
}

.my_font{
    font-size: 1.5rem;
}

.my_font_h3{
    font-size: 1rem;
}

.my_content_nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.my_container_img{
    width: 50%;
    height: 220px;
    display: flex;
    justify-content: center;
}

.container-jumbo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img_avatar{
    object-fit: contain;
    object-position: center;
    height: 100%;
}

.my_container_text_jumbo{
    width: 100%;
    text-align: center;
}

.font-h1-jumbo{
    font-size: 3rem;
    text-align: center;
}

.font-h2-jumbo{
    font-size: 1.5rem;
}

.container_star_design{
    width: 60%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}


/* MAIN */

.centered_all_main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_text_main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line_star{
    width: 25%;
    height: 1px;
    border-bottom: 3px solid white;
}

.icon-star{
    margin: 0 .3rem;
}

.container_star_design{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line_star_header-main{
    width: 25%;
    height: 1px;
    border-bottom: 3px solid black;
}

.row{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_main{
    object-fit: contain;
    object-position: center;
    height: 170px;
    width: 100%;
    margin: .3rem 0;
}

.text-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.purple{
    color: rgb(233, 7, 233);
    background-color: rgb(233, 7, 233);
}

.pink{
    background-color: pink;
}

.green{
    background-color: greenyellow;
}

.aqua{
    background-color: aqua;
}

.black{
    background-color: black;
}

.jumbo{
    background-color: #1abc9c;
    height: 500px;
    display: flex;
    align-items: center;
}

.height-inside-jumbo{
    height: 350px;
}

.height-text-main{
    height: 80px;
}

.card-main-right{
    display: flex;
    justify-content: center;
}

.card-main-left{
    display: flex;
    justify-content: center;
}

.main-main{
    height: 650px;
    background-color: #1abc9c;
    display: flex;

}

.height-text-main{
    height: 200px;
}

.footer-main{
    display: flex;
    justify-content: center;
}

.height-form-footer-main{
    height: 700px;
}

.header-footer{
    background-color: #3a546d;
    display: flex;
    justify-content: center;
}

.height-header-footer{
    height: 150px;
    margin-bottom: 1rem;

}

.padd-top{
    padding-top: 1rem;
}

.footer-footer{
    background-color: #2c3e50;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.height-text-footer-footer{
    height: 30px;
}





/* MEDIA */

